@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 426px) {
    .custom-width {
        width: 19.5rem !important;
    }
}

@media (min-width: 427px) {
    .custom-width {
        width: 22rem !important;
    }
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the thumb */
}
